.tag {
  position: absolute;
  top: 0;
  background: #9c27b0;
  height: 23px;
  text-align: center;
  display: flex;
  justify-content: center;
  color: white;
  font-weight: 500;
  margin: auto;
  width: 60px;
  font-size: 15px;
  left: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
